@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');


.parallax {
    /* The background image */
    background-image: url("nature.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.image2 {
    /* The background image */
    background-image: url("bird.jpg");
    /* Set a specific height */
    height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.content {
    /* The foreground element */
    color: white;
    font-size: 36px;
    text-align: center;
    /* Position and center the content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Move the content closer to the viewer */
    transform: translateZ(100px);
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}